            @{
                ViewBag.Title = "AvaNews Archive";
            }

            <ul>
                <li>
                    <h1 style="font-size: 18px;">Avail Systems News Archive</h1><br />
                </li>               
                <li>
                    <div style="width: 530px; float: left; display: block;">  
                    <h2 class="highlight panel_title">A Revamped AvaSys.com Website</h2>
                 January 4, 2011 : Avail Systems rolls out a redesigned website to start the new year. We know major technical refactorings of your company's website is a challenge, but Avail Systems can help ease the pain.  <span class="highlight">We can be your partner in changing times.</span>
                    </div>
                    <div style="float: right; display: block;">
                        <h2 class="highlight panel_title">&nbsp</h2>
                        <img src="content/images/avalook_156X132.png" />
                    </div>
                </li>
            </ul>