            @{
                ViewBag.Title = "About The Company";
            }

            <ul>
                <li>
                    <h1 style="font-size: 20px;"><span class="h1highlight">Avail Systems</span> has been a software and IT consultancy since 1987. Our practice typically falls into one of three broad service categories: Software Development, IT Strategy, and Disaster Recovery.</h1><br />
                </li>               
                <li>
                    <div class="text_block">  
                    <h2 class="highlight panel_title">Direction</h2>
                Each of those service categories above are further described under the 'Services' menu. And while we always hope to first engage a client on IT Strategy, in reality that is seldom the case. More often we are first involved with a software project or disaster recovery effort. Such engagements tend to expose opportunities to wield technology more effectively or highlight critical infrastructure and "technical debt" issues which need to be addressed. In either case we encourage our clients to revisit and review their IT strategy on a regular basis to ensure their investments in technology robustly support the overall direction of the business.<span class="highlight">&nbsp We can help insure your aim is true.</span><br/><br/>
                    </div>
                    <div style="float: right; display: block;">
                        <h2 class="highlight panel_title">&nbsp</h2>
                        <img src="@Url.Content("content/images/datacenter.jpg")" />
                    </div>
                </li>
                <li style="margin-top: 15px;"><br />
                    <div class="text_block">
                    <h2 class="highlight panel_title">Velocity</h2>
                We have been in the technology business since 1987 and seen the role of technology grow both in fits and starts as well as in leaping strides. Our approach is deeply hands-on and involved with both technology and the business objectives it is deployed to enable. From our perspective the startling pace at which a generational technology shift is now remaking both our society and way of life only further highlights the fact that the days of IT as an 'administrative' function relegated to the CFO are long gone. Technology is no longer tangential to business strategy, but now plays a critical role in the success or failure of your business.<span class="highlight">&nbsp We can help you compete in an accelerating world.</span>
                    </div>
                    <div style="float: right; display: block;">
                        <h2 class="highlight panel_title">&nbsp</h2>
                        <img src="@Url.Content("content/images/tablet.png")" />
                    </div>
                </li>
            </ul>