            @{
                ViewBag.Title = "AvaNews";
            }

            <ul>
                <li>
                    <h1 style="font-size: 18px;">2011 promises to be an exciting year as firms large and small face the challenges of a recovering economy, paying down technical debt, and the imperative to establish and project their brands within varied social media contexts and mobile devices. Not to mention potiential customers now have product and service reviews, price checks and comparisons, and satisfaction levels literally in-hand when making buying decisions. Times-they-are-a-changing and we can help. Follow along here as the year unfolds.</h1><br />
                </li>               
                <li>
                    <div style="width: 530px; float: left; display: block;">  
                    <h2 class="highlight panel_title">A Revamped AvaSys.com Website</h2>
                 January 4, 2011 : Avail Systems rolls out a redesigned website to start the new year. We know major technical refactorings of your company's website is a challenge, but Avail Systems can help ease the pain.  <span class="highlight">We can be your partner in changing times.</span>
                    </div>
                    <div style="float: right; display: block;">
                        <h2 class="highlight panel_title">&nbsp</h2>
                        <img src="content/images/avalook_156X132.png" />
                    </div>
                </li>
            </ul>